.delete-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 335px;
}

.delete-modal__title {
    margin-bottom: 11px;
}

.delete-modal__text {
    margin: 0;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    max-width: 225px;
    color: var(--color-black3);
}

.delete-modal__delete {
    display: block;
}

.delete-modal__delete {
    position: relative;
    padding: 8px 25px;
    align-self: center;
    margin-bottom: 5px;
}